
/* GENERAL LAYOUT */


/* NAVBAR */

.logo {
    width: 120px;
}

@media screen and (min-width: 600px) {
    .logo {
        width: 150px;
    }
}

/* LOGIN */

.form-border {
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.171);
}

.message-container-styling {
    color: red;
    font-weight: bold;
    background-color:  rgba(3, 80, 3, 0.267);
    border-radius: 10px;
    padding: .4rem 1rem;
    margin: .4rem 1rem;
}